.match-item {
  display: block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: auto;
  border-radius: 12px;
  width: 55rem;
  max-width: 95%;
  background-color: #4b4b4b;
}

.match-item__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.match-item h2 {
  color: #3a3a3a;
  font-size: 0.5rem;
  flex: 1;
  margin: 0 0rem;
  color: white;
}

.match-item__price {
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  min-width: 5rem;
  padding: 0.5rem;
  border-radius: 12px;
}

.match-item button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  background-color: #40005d;
  color: white;
  min-width: 107;
  height: 47px;
  border-radius: 12px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.match-item button:hover,
.match-item button:active {
  background-color: #e48100;
  border-color: #f8f8f8;
}

.match-item button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.match-item button.alternative:hover,
.match-item button.alternative:active {
  background-color: #f098da;
}


@media (min-width: 250px) {
  .match-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .match-item__description h2 {
    font-size: 1.25rem;
  }

  .match-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}